{{ $page := .page }}

<!-- Custom widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    <p class="view-all">
      {{ if $page.Params.link}}
      <a href="{{ $page.Params.link | relLangURL }}">
        {{ i18n "more_posts" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
      {{ else }}
      <a href="{{ "/post/" | relLangURL }}">
        {{ i18n "more_posts" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
      {{ end }}
    </p>
  </div>
  <div class="col-xs-12 col-md-8">
    {{ $page.Content }}
  </div>
</div>
